<body>
	<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">
	<div class="container">	
		<a class="navbar-brand" href="/"><i class="fas fa-beer"></i>  nanobrew.io</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li <%if(active=="index"){%>class="active"<%}%>>
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#about">About</a>
				</li>
				<li <%if(active=="brews"){%>class="active"<%}%>>
					<a class="nav-link" href="/brews">Brews</a>
				</li>
				<li <%if(active=="archive"){%>class="active"<%}%>>
					<a class="nav-link" href="/archive">Archive</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<% if (!user) { %>
					<li <%if(active=="register"){%>class="active"<%}%>>
						<a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
					</li>
					<li <%if(active=="login"){%>class="active"<%}%>>
						<a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
					</li>
				<% } else { %>
					<li>
						<span class="nav-link" style="text-transform: capitalize;">Welcome, <%= user.username %></span>
					</li>
					<li>
						<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>
