<% include ./partials/head %>
<% include ./partials/nav %>

    <section class="headerImage">
        <div class="headerBackground">
            <span id="headerText">
                <h1>nanobrew.io</h1>
                <h3>Craft beer brewed at home</h3>
                <hr>
                <button class="btn btn-default btn-lg"><i class="fas fa-beer"></i> Get  Started</button>
            </span>
        </div>      
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    About
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right. Sit in window and stare oooh, a bird, yum claw at curtains stretch and yawn nibble on tuna ignore human bite human hand but howl uncontrollably for no reason. 
                </p>
            </div>
            <div class="col-md-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right. Sit in window and stare oooh, a bird, yum claw at curtains stretch and yawn nibble on tuna ignore human bite human hand but howl uncontrollably for no reason. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right. Sit in window and stare oooh, a bird, yum claw at curtains stretch and yawn nibble on tuna ignore human bite human hand but howl uncontrollably for no reason. 
                </p>
            </div>
            <div class="col-md-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right. Sit in window and stare oooh, a bird, yum claw at curtains stretch and yawn nibble on tuna ignore human bite human hand but howl uncontrollably for no reason. 
                </p>
            </div>
        </div>
            <div class="col-lg-12">
                <h3 class="actions">
                    Getting Started
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>
                    Create Brew
                </h4>
                <hr class="actions">
                <form>
                    <div class="form">
                        <div>
                            <input type="text" class="form-control brewInput" placeholder="Brew Name">
                            <button class="btn btn-default btn-sm brewButton"><i class="fas fa-beer"></i> Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h4>
                    Track Brew
                </h4>
                <hr class="actions">
                <form>
                    <div class="form">
                        <div>
                            <select type="select" class="form-control brewInput" placeholder="Select Brew">
                                <option value="Brew 1">Brew 1</option>
                                <option value="Brew 1">Brew 2</option>
                                <option value="Brew 1">Brew 3</option>
                            </select>
                            <button class="btn btn-default btn-sm brewButton"><i class="fas fa-beer"></i> View</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h4>
                    Brew Cellar
                </h4>
                <hr class="actions">
                <form>
                    <div class="form">
                        <div>
                            <input type="text" class="form-control brewInput" placeholder="Search Here">
                            <button class="btn btn-default btn-sm brewButton"><i class="fas fa-beer"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<% include ./partials/foot %>
