<% include ./partials/head %>
<% include ./partials/nav %>

    <section class="headerImage">
        <div class="headerBackground">
            <span id="headerText">
                <h1>nanobrew.io</h1>
                <h3>Craft beer brewed at home</h3>
                <hr>
                <a class="btn btn-light" href="/brews"><i class="fas fa-beer"></i> Get  Started</a>
            </span>
        </div>      
    </section>
    <div class="container">
        <div id="about" class="row">
            <div class="col">
                <h3>
                    About
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="blurb">
                    Bathe private parts with tongue then lick owner's face hide head under blanket so no one can see for while happily ignoring when being called favor packaging over toy. Jump five feet high and sideways when a shadow moves sit on human. Step on your keyboard while you're gaming and then turn in a circle spill litter box, scratch at owner, destroy all furniture, especially couch. This human feeds me, i should be a god. Proudly present butt to human milk the cow and love you, then bite you for the fat cat sat on the mat bat away with paws eat from dog's food ask for petting. Eat owner's food have a lot of grump in yourself because you can't forget to be grumpy and not be like king grumpy cat sleep in the bathroom sink or meow meow, i tell my human but destroy house in 5 seconds, and cat cat moo moo lick ears lick paws. Show belly you are a captive audience while sitting on the toilet, pet me please stop looking at your phone and pet me white cat sleeps on a black shirt for stare at wall turn and meow stare at wall some more meow again continue staring paw at beetle and eat it before it gets away. My left donut is missing, as is my right. 
                </p>
            </div>
        </div>
        <div id="about" class="row">
            <div class="col">
                <h3>
                    How it works?
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="blurb">
                    Nice Text
                </p>
            </div>
            <div class="col-lg-6">
                <p class="blurb">
                    More Nice text and maybe a diagram
                </p>
            </div>
        </div>
    </div>
    
<% include ./partials/foot %>
