<% include ./partials/head %>
<%- include('partials/nav', {active: 'register'}); %>

<div class="centreMessage">
    <h3>We are not currently accepting any registrations.</h3>
</div>

<% include ./partials/foot %>
